/* css */

/* global styles*/
ul {
	padding:0;
}
.link {
	font-size: 2em;
	padding: 0.25em 0;
	margin-right: 0.5em;
	display: block;
}
a {
	color: red;
}
a:hover {
	color: white;
}
li a {
	color: black;
	transition: color 500ms;
}

img {
	width: 100%;
	transition: width 1s;
}
img:hover {
	width:0;
}

/* home page */
body {
	background-color:grey;
	font-family: sans-serif;
}